# URL dari Supabase Settings > API
NEXT_PUBLIC_SUPABASE_URL=

# Kunci 'anon' dari Supabase Settings > API
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Ambil dari Supabase > Settings > API > service_role key
SUPABASE_SERVICE_ROLE_KEY=

# Rahasia JWT dari Supabase Settings > API > JWT Settings
JWT_SECRET=


# URL API Waktu Sholat
NEXT_PUBLIC_API_TIME_SHOLAT=https://api.aladhan.com


# URL Base aplikasi kita
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# URL API Internal kita (Arahkan ke folder api yang kita buat tadi)
NEXT_PUBLIC_API_URL=/api/auth/login


# Connect to Supabase via connection pooling
DATABASE_URL="..."

# Direct connection to the database. Used for migrations
DIRECT_URL="..."

# Image Supabase
SUPABASE_IMAGE_HOSTNAME=

# Menyembunyikan peringatan Turbopack dari Serwist (PWA) di terminal saat mode development
SERWIST_SUPPRESS_TURBOPACK_WARNING=1