# --- Pengaturan Jaringan ---
network-concurrency=4
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=60000

# versi lama (Windows) maupun versi baru (Arch)
network-timeout=300000
fetch-timeout=300000
